<h1>Dashboard</h1>
<button class="btn btn-primary" (click)="add()">ADD NEW CUSTOMER</button>
<div *ngIf="customersData && customersData.length">
<div>Existing Customers</div>
<table class="table" >
  <thead>
  <tr>
    <th *ngFor="let header of customerHeaders">{{ header|uppercase }}</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let customer of customersData">
    <td *ngFor="let header of customerHeaders">
      <span *ngIf="header === 'email'"><a href="mailto:{{ customer[header] }}">{{customer[header]}}</a></span>
      <span *ngIf="header === 'balance'">{{customer[header] | currency}}</span>
      <span *ngIf="header != 'balance' && header != 'email'">{{customer[header]}}</span>
    </td>
    <td>
      <button (click)="delete($event,customer)">Delete</button>
    </td>
    <td>
      <button (click)="edit($event,customer)">Edit</button>
    </td>
  </tr>
</tbody>
</table>



</div>