.text-danger{
    color: brown;
}
.edit-form-container{
    padding: 10px;
}
.edit-form-submit-btn{
    padding-top: 10px;
}
.border-black{
    border: 1px solid black;
}
.wd-25-pct{
    width: 25%;
}